.button {
  display: inline-block;  
  box-sizing: border-box;
  padding: 10px;

  cursor: pointer;
  text-align: center;
  border: none;
  border-radius: 5px;

  font-size: 14px;
}

.button:disabled {
    color: var(--grey-main);
}

.primary {
    color: var(--white);
    background-color: var(--primary);
    transition: all 0.2s;
}

.primary:hover {
    background-color: var(--primary-hover);
}

.ghost {
    color: var(--black);
    background-color: none;
    border: 1px solid var(--grey-light);
}

.ghost:hover:enabled {
    color: var(--white);
    background-color: var(--primary);
}

.arrow {
    display: inline-block;
    margin-left: 10px;
}

.down {
    transform: rotate(90deg);
    transition: all 0.2s;
}

.primary svg,
.ghost:hover:enabled svg {
    fill: var(--white)
}

.primary svg,
.ghost:disabled svg {
    fill: var(--grey-main)
}